.sliderLayoutContainer {
  justify-content: center;
}
.sliderLayoutContainer--carousel {
  background-color: #F0F0F0;
}

.sliderTrackContainer {
  /*max-width: 1520px;*/
}

.paginationDotsContainer {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.paginationDot--isActive {
  background-color: #134CD8;
}

.sliderLayoutContainer--slider-home .sliderLeftArrow--carousel,
.sliderLayoutContainer--slider-home .sliderRightArrow--carousel {
  background-color: #134CD8!important;
  padding: 30px 15px;
  border-radius: 50%;
  background-position: center center!important;
  transition: .15s ease all;
}

.sliderLayoutContainer--slider-home .sliderLeftArrow--carousel:hover,
.sliderLayoutContainer--slider-home .sliderRightArrow--carousel:hover {
  opacity: .8;
}

.layoutContainer--shelf {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 96rem;
}

.slide--shelf {
  margin-bottom: 25px;
  padding-left: .5rem;
  padding-right: .5rem;
}

@media screen and (max-width: 50em) {
  .sliderLayoutContainer--shelf{
    padding-left:15px !important;
    padding-right:15px !important;
  }
}
.imageElement--brands{
  width:auto !important;
}


.sliderRightArrow{
  margin: 0px;
  height: 40px;
  background:transparent url(assets/iconos/arrow-right.svg) no-repeat !important;
}
.sliderRightArrow .caretIcon{
  visibility:hidden;
}
.sliderLeftArrow{
  margin: 0px;
  height: 40px;
  background:transparent url(assets/iconos/arrow-left.svg) no-repeat !important;
}
.sliderLeftArrow .caretIcon{
  visibility:hidden;
}

.sliderRightArrow--carousel{
  margin-right:80px;
  background:transparent url(assets/iconos/arrow-right-w.svg) no-repeat !important;
}
.sliderLeftArrow--carousel{
  margin-left:80px;
  background:transparent url(assets/iconos/arrow-left-w.svg) no-repeat !important;
}
 