.container--deals {
    color: #ffffff;
    text-align: left;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.69;
    color: #606060;
}

.container--shelfTitle {
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: #f8f8f8;
    font-size: 24px;
    font-weight: 600;
    line-height: 0.75;
    text-align: center;
    color: #010101;
}

@media screen and (max-width: 50em) {
    .container--shelfTitle .heading {
        font-size: 18px;
        font-weight: 600;
        line-height: 1;
    }
}

.container--priceRecomendado {
    font-size: 10px;
}

.container--pricePatadon {
    font-size: 10px;
}

.headingLevel2--shelfTitle {
    font-weight: 200;
}

.container--deals .paragraph {
    margin: 0;
}

.container--link {
    justify-content: center;
}

.container--question {
    justify-content: center;
}

.container--question .paragraph {
    text-align: center;
    max-width: 540px;
    margin: 0 16px;
    padding-top: 120px;
    color: #03034E;
}

.container--question .strong {
    font-size: 32px;
    line-height: 2rem;
    font-weight: 700;
}

.container--link .paragraph {
    text-align: center;
    max-width: 540px;
    padding-top: 36px;
    padding-bottom: 84px;
    color: #03034E;
}

.container--link .strong {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.container--link .link {
    text-decoration: none;
    font-size: 36px;
    font-weight: 300;
    color: #03034E;
}

.container--title {
    color: #03034E;
    font-size: 28px;
    font-weight: 700;
}



.paragraph--main-header-text {
    margin: 0px;
    font-size: 14px;
    color: #000000;
}

.paragraph--footer-copy-text {
    margin: 9px 0;
    line-height: 1.15;
}

.wrapper--footer-title {
    width: 75%;
}

.paragraph--footer-title {
    font-size: 14px;
    color: #000000;
    font-weight: bold;
    border-bottom: 1px solid #000;
}

.container--category-title {
    margin-top: 30px;
    max-width: 800px;
    margin: auto;
}

.paragraph--category-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 0.75;
    text-align: center;
    color: #010101;
    text-align: center;
}

.headingLevel1--category-title {
    margin: 0px;
    font-size: 2rem;
}

.container--category-desc {
    max-width: 1000px;
    margin: auto;
    margin-bottom: 20px;
}

.paragraph--category-desc {
    font-size: 12px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: 1.2px;
    text-align: center;
    color: #4c4c4c;
    text-align: center;
}

.container--category-title-bottom {
    margin-top: 30px;
}

.paragraph--category-title-bottom {
    font-size: 14px;
    margin-bottom: 0px;
    font-weight: bold;
    letter-spacing: 1px;
}

.paragraph--category-desc-bottom {
    font-size: 12px;
    color: #4c4c4c;
}

.paragraph--filter-title {
    font-size: 13px;
    line-height: 2.23;
    letter-spacing: 0.65px;
    color: #4c4c4c;
    text-transform: uppercase;
}

.paragraph--filter-title::before {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 15px;
    background: url('assets/iconos/filtro-icono.png') no-repeat;
}

.paragraph--tab_title {
    font-size: 22px;
    font-weight: bold;
    line-height: 1.09;
    letter-spacing: 1.1px;
    color: #000000;
}

@media only screen and (min-width: 640px) {
    .container--question .strong {
        font-size: 40px;
        line-height: 3rem;
    }
    .container--about {
        max-width: 85%;
    }
    .container--title {
        color: #03034E;
        font-size: 40px;
        font-weight: 700;
        max-width: 60%;
    }
    .container--title .paragraph {
        line-height: 1.3em;
    }
}


/* ABOUT US */

.wrapper--title-about {
    font-size: 22px !important;
    font-weight: 300;
    letter-spacing: normal;
    color: #000000 !important;
}

.wrapper--title-about :global(.vtex-rich-text-0-x-strong) {
    font-size: 28px !important;
    font-weight: 600;
}


/* INSTITUCIONAL */

.headingLevel3--institutional-text {
    font-weight: normal;
    font-size: 20px;
    color: #C8102E;
    margin-top: 50px;
}

.listItem--institutional-text {
    margin-bottom: 30px;
}


/* FITTING */
.wrapper--banner-fitting-text{
    font-size:18px;
    text-align: center; 
}

@media screen and (min-width: 50em) {
    .container--banner-fitting-text{
        display:none;
    }
}

.wrapper--title-fitting {
    width:100%;
    text-align:center;
}
.headingLevel3--title-fitting{
    font-size: 32px;
    color: #C8102E;
    max-width:700px;
    margin:auto;
    margin-bottom:20px;
}
.container--fitting-video {
    display: table;
    width: 100%;
    height: 100%;
}

.wrapper--fitting-video {
    display: table-cell;
    vertical-align: middle;
    text-align:center;
}
.headingLevel3--fitting-video{
    font-size: 32px;
    color: #C8102E;
    max-width:650px;
    margin:auto;
}
.strong--fitting-video{
    font-size: 22px;
} 

.container--info-fitting {
    display: table; 
    width: 100%;
    height: 100%;
}
 
.wrapper--info-fitting {
    display: table-cell;
    vertical-align: middle;
}

.container--text-proceso {
    position: relative;
    padding-left: 50px;
}

.paragraph--text-proceso {
    margin: 0px;
}

.headingLevel3--text-proceso {
    display: block;
    position: absolute;
    top: 5px;
    left: 0;
    width: 40px;
    height: 42px;
    margin: 0px 4px;
    padding-top: 5px;
    background: url('assets/fitting/flag.png') no-repeat;
    color: #ffffff;
    text-align: center;
}

@media screen and (max-width: 50em) {
    .container--text-proceso {
        padding-left: 0px;
        text-align: center;
    }
    .headingLevel3--text-proceso {
        display: inline-block;
        position: static;
        width: 40px;
        height: 42px;
        background: url('assets/fitting/flag.png') no-repeat;
    }
}
.strong--text-proceso{
    font-size:20px;
}
@media screen and (min-width: 50em) {
    .wrapper--info-fitting-equipo{
        display:none;
    }
}
@media screen and (max-width: 50em) {
    .wrapper--info-fitting{
        text-align:center;
    }
    .wrapper--info-fitting-equipo{
        text-align:center;
    }
}
.wrapper--info-fitting-tecnologia{
    max-width:400px;
}

@media screen and (max-width: 50em) {
    .wrapper--info-fitting-tecnologia{
        text-align:center;
    }
}
.strong--info-fitting-tecnologia{
    letter-spacing: 1px;
    font-size:34px;
}
.link--info-fitting-tecnologia{
    padding:15px 30px;
    display:inline-block;
    color:#fff;
    border-radius:5px;
    background:#134CD8;
    text-decoration: none;
}
@media screen and (max-width: 50em) {
    .link--info-fitting-tecnologia{
        font-size:12px;
    }
}



.container--testimonio-fitting {
    display: table;
    width: 100%;
    height: 100%;
}

.wrapper--testimonio-fitting {
    display: table-cell;
    vertical-align: middle;
    padding-left:30px;
    padding-right:30px;
}
@media screen and (max-width: 50em) {
    .wrapper--testimonio-fitting{
        text-align: center;
    }
}
.strong--testimonio-fitting {
    color: #fff;
    letter-spacing: 1px;
    font-size:34px;
}
.paragraph--testimonio-fitting {
    color: #fff;
    font-weight: 200;
    letter-spacing: 1px; 
}


.paragraph--text-fitting {
    text-align:center;
    padding-left: 30px;
    padding-right: 30px;
}
@media screen and (max-width: 50em) {
    .paragraph--text-fitting {
        padding:0px;
    }
}
.strong--text-fitting{
    font-size:24px;
}


/* MARCAS */
.container--brand-name{
    display:none;
}

/* PRECIOS */

.wrapper--table-precios {
    width: 100%;
    max-width: 1000px;
    margin: 70px auto;
}

.table--table-precios {
    border-collapse: collapse;
}

.tableTd--table-precios {
    padding: 15px 30px;
    border: 1px solid #333;
}
 
.strong--table-precios {
    display: block;
}


/* TIENDAS */
.wrapper--titulo-tiendas{
    text-align: center;
    width:100%;
}

.headingLevel2--titulo-tiendas {
    color: #C8102E;
}

.wrapper--subtitulo-tiendas,
.headingLevel3--subtitulo-tiendas {
    width: 100%;
}

.headingLevel3--subtitulo-tiendas {
    margin-top: 0px;
    font-size: 18px;
    border-bottom: 1px solid #000;
}

.container--direccion-info-tienda{
    margin-bottom:40px;
    border-top:2px solid #ccc;
    border-bottom:2px solid #ccc;
}
.list--direccion-info-tienda{
    list-style:none;

}
.listItem--direccion-info-tienda{
    padding:10px 0px;
    font-weight:bold;
    position: relative;
}
.listItem--direccion-info-tienda::before{
    position:absolute;
    display:block;
    content:"";
    width:30px;
    height:30px;
    left:-35px;
    top:4px;
    background-size:30px;
}
.listItem--direccion-info-tienda:nth-child(n+1)::before{
    background-image:url('assets/tiendas/pin.png');
}
.listItem--direccion-info-tienda:nth-child(n+2)::before{
    background-image:url('assets/tiendas/tlf.png'); 
}
.listItem--direccion-info-tienda:nth-child(n+3)::before{
    background-image:url('assets/tiendas/mail.png');
}


.container--horario-info-tienda {
    margin-bottom:30px;
}
.strong--horario-info-tienda {
    color:#C8102E;
    display:block;
    border-bottom:1px solid #eee;
}
.table--horario-info-tienda{
    width:100%;
    max-width:400px;     
}
.tableTd--horario-info-tienda:nth-child(2n-1){
    font-weight:bold;
}



/* TOP BAR */ 

.paragraph--top-bar-header-text {
    color: #ffffff;
    font-size: 14px;
    line-height: 32px;
    padding: 0px 15px;
    margin: 15px 0; 
    text-align: left;
}

@media screen and (max-width: 767px) and (min-width: 640px) {
    .paragraph--top-bar-header-text {
        margin: 24px 0;
    }
}

.link--top-bar-header-text {
    color: #ffffff;
}

@media screen and (max-width: 50em) {
    .wrapper--top-bar-header-text {
        width: 100%;
    }
    .paragraph--top-bar-header-text {
        /* width: 100%;
        font-size: 10px;
        text-align: center;
        line-height: 20px; */
    }
}

@media screen and (max-width: 639px) {
    .paragraph--top-bar-header-text {
        padding: 10px 15px;
        background: #134cd7;
        margin: 0;
        text-align: center;
        text-transform: uppercase;
    }
}
