.element{
  padding:0px;
}
.element :global(.vtex-button){
  border-radius:0;
}

.skuSelectorContainer--quickview .skuSelectorItemImage .frameAround, .skuSelectorContainer--quickview .skuSelectorItemImage .skuSelectorInternalBox {
  border-radius: 50%;
}
.container{
  border-radius:0;
}
.container :global(.vtex-modal-layout-0-x-triggerContainer) {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.container:hover :global(.vtex-modal-layout-0-x-triggerContainer) {
  opacity: 1;
}

.container--product-search{
  padding:20px;
}

@media screen and (max-width: 40em) {
  .container :global(.vtex-modal-layout-0-x-triggerContainer) {
    display: none;
  } 
}

.nameContainer {
  padding-top: 1rem;
  padding-bottom: 9px;
  text-align: center;
}

.brandName {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.29;
  letter-spacing: 0.35px;
  text-align: center;
  color: #000000;
}
@media screen and (max-width: 50em) {
  .brandName {
    font-size: 13px;
  }
}

.container {
  text-align: start;
  background-color: #FFFFFF;
}

.imageContainer {
  margin-top:15px;
  text-align: center;
  background:#ffffff;
}
@media screen and (max-width: 50em) {
  .imageContainer {
    margin-top:0px;
  }
}

.image {
  border-radius: 0.25rem;
}


.groupContainer {
  margin:0px 15px;
}

.badgeContainer--2x1 {
  background-image: url('https://patadon.com/arquivos/iconos/etiqueta.png');
  background-color: transparent;
  background-repeat: no-repeat;
  height:44px;
  width:35px;
}
.badgeContainer--2x1 .badgeText {
  z-index: -1;
}

.productBrandContainer{
  text-align:center;
  font-size: 11px;
  letter-spacing: 0.55px;
  color: #8a8a8a;
}
@media screen and (max-width: 50em) {
  .productBrandContainer{
    font-size: 10px;
  }
}

.productBrand {
  display:block;
  min-height:34px;
}
