.stackItem--product {
  width: 100%;
}

.stackItem--quickview {
  right: 0;
  top: 0;
  left: auto;
}
.stackItem--stacked-category-name{
  width:100%;
  left: 0;
  top: 0;
  bottom:0;
  text-align:center;
  margin:auto;
}


/* FITTING */
.stackItem--banner-fitting-text{
  width:30%;
  right:15%;
  top:0;
  bottom:0;
}
