.row--menu-row {
  padding-right: 24px;
}

.row--menu-row .rowContainer {
  align-items: flex-start;
}

.row--payment-methods {
  padding-top: 16px;
}


.socialNetworkLink{
  background-repeat: no-repeat;
  margin-right:10px;
  margin-top:10px;
}
.socialNetworkImage{
  visibility:hidden;
}

.socialNetworkLink--twitter{
  background-image:url(assets/footer/twitter.png);
}
.socialNetworkLink--facebook{
  background-image:url(assets/footer/fb.png);
}
.socialNetworkLink--instagram{
  background-image:url(assets/footer/insta.png);
}
.socialNetworkLink--linkedin{
  background-image:url(assets/footer/lik.png);
}
.socialNetworkLink--youtube{
  background-image:url(assets/footer/youtube.png);
}
.socialNetworkLink--pinterest{
  background-image:url(assets/footer/pinte.png);
}


.paymentMethodIcon{
  background-repeat: no-repeat;
  margin-right:10px;
  margin-top:10px;
}
.paymentMethodIconImage{
  visibility:hidden;
}

.socialNetworkLink--twitter{
  background-image:url(assets/footer/twitter.png);
}
.socialNetworkLink--facebook{
  background-image:url(assets/footer/fb.png);
}
.socialNetworkLink--instagram{
  background-image:url(assets/footer/insta.png);
}
.socialNetworkLink--linkedin{
  background-image:url(assets/footer/lik.png);
}
.socialNetworkLink--youtube{
  background-image:url(assets/footer/youtube.png);
}
.socialNetworkLink--pinterest{
  background-image:url(assets/footer/pinte.png);
}