/* HOME */
.link--stacked-category-name {
    display:block;
    width:100%;
    height: 100%;
    font-size: 15px;
    font-weight: 600;
    line-height: 2.13;
    letter-spacing: 1.5px;
    color: #ffffff;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.label--stacked-category-name::before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

/* TIENDAS */
.link--cta-defecto{
    padding:15px 30px;
    display:inline-block;
    color:#fff;
    border-radius:5px;
    background:#134CD8;
    text-decoration: none;
}


/* FITTING */
.link--testiomnios-link{
    padding:15px 30px;
    display:inline-block;
    color:#fff;
    border-radius:5px;
    background:#134CD8;
    text-decoration: none;
    border:0px;
}

.label--testiomnios-link{

}

.link--phonecall {
  position: fixed;
  right: 14px;
  bottom: 100px;
  z-index: 9;
}
.label--phonecall {
    font-size: 0;
    width: 30px;
    height: 30px;
    padding: 30px;
    background-repeat: no-repeat;
    background-size: 55px;
    background-position: center;
    background-image: url(/arquivos/icon-phoneCall.png);
}