.container{
  padding-left:20px;
  padding-right:20px;
}

.label {
  color: #fff;
  font-size: 26px;
}

.inputGroup {
  padding-bottom: 4px;
  display: flex;
  color: #fff;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators) {
  background-color: transparent;
  color: #fff;
  border: none;
}

.discountContainer{
  width:100%;
}

.discountInsideContainer{
  background-color: transparent;
  background-image: url('assets/iconos/descuento.png');
  background-repeat: no-repeat;
  height: 58px;
  width: 40px;
  right: 15px; 
  top: -15px;
  padding: 10px 0px;
  font-size: 13.5px;
  line-height: 1.59;
  letter-spacing: -1px;
}

@media screen and (max-width: 50em) {

  .discountInsideContainer{
    right: 0px;
    top: 0px;
  }

}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators)::placeholder {
  color: #fff;
  font-size: 16px;
}

.inputGroup :global(.vtex-button) {
  background-color: transparent;
  color: #fff;
  border: none;
  margin-right: -24px;
}

.buttonContainer {
  padding-top: 0px;
}

.imageElement--storePrint {
  max-height: 300px;
  margin-bottom: 20px;
}

.skuSelectorContainer {
  margin: 0px;
}
.skuSelectorOptionsList {
  margin:0px;
}

.skuSelectorName{
  font-size: 14px;
  font-weight: 700;
  line-height: 2.5;  
  color: #282726;
  text-transform: uppercase;
}

.skuSelectorItem{
  margin-right:10px;
  margin-left: 0px;
}
.skuSelectorItemImage{
  width:80px;
  height:80px;
}
.frameAround {
  bottom: -1px;
  top: -1px;
  left: -1px;
  right: -1px;
  border-color: #000;
  border-width: 1px;
  border-radius:0px;
}
.skuSelectorInternalBox {
  color:#000000;
  background:#ffffff;
  border:0px;
  border-radius:0px;
}
.skuSelectorItemTextValue {
  font-size: 13px;
  line-height: 1.92;
  letter-spacing: 0.65px;
  color: #282726;
  padding:0px 30px;
}

.notificationBarContainer {  
  background-color: #C8102E;
  color: #ffffff;
  font-size: 10px;
  font-weight: 300;
  line-height: 2.2;
  letter-spacing: 0.5px;
}

.searchBarContainer{
  max-width:none;
  padding-left:20px;
  padding-right:20px;
}
.searchBarContainer :global(.vtex-input-prefix__group) {
  border: 1px solid #000;
  border-radius: 0;
}
.searchBarContainer :global(.vtex-styleguide-9-x-input) {
  max-width: none;
  padding-left:30px;
  font-size:14px;
  color:#000;
  letter-spacing: 1px;
}







.infoCardContainer--info-card-home {
  max-width: 1520px;
  margin: 0 auto;
  background-color: #e6f1e6;
  padding: 0px;
}
 
.newsletter {
  background-image: url('assets/fondo_newsletter.png');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}
@media screen and (max-width: 50em) {
  .newsletter {
    background-image: url('assets/fondo_newsletter_m.png');
  }
}
.newsletter .container {
  padding: 60px 10px;
}
.newsletter .form {
  max-width: 100%;
  width: 700px;
  margin:auto;
}
.newsletter :global(.vtex-input-prefix__group ) {
  border:0px;
  height:auto;
}
.newsletter .inputGroup {
  display:block;
  border:0px;
}
.newsletter :global(.vtex-input) {
  display:block;
}
.newsletter :global(.vtex-styleguide-9-x-input) {
  margin:auto;
  width:90%;
  max-width:500px;
  border:1px solid #999 !important;
  padding:20px;
  letter-spacing: 1px;
  text-align:center;
  text-transform: uppercase;
} 
.newsletter .buttonContainer{
  margin-top:15px;
  padding:0px !important;

}
.newsletter .inputGroup :global(.vtex-button) {
  width:90%;
  max-width:500px;
  padding:15px 30px;
  display:block;
  color:#fff;
  margin:auto;
  border-radius:5px;
  background:#134CD8;
  text-decoration: none;
  border:0px; 
  letter-spacing: 1px;
  text-align:center;
  text-transform: uppercase;
}
@media screen and (max-width: 50em) {
  .newsletter .form {
    max-width:100%;
    min-width:0px;
    margin-left:0px;
  }
}





.imageElement--logo-footer{
  margin-top:1em;
  margin-bottom:30px;
}

.imageElement--imagen-confianza{
  margin-bottom:15px;
}




@media only screen and (min-width: 640px) {
  .newsletter .container {
    padding: 140px;
  }

  .label {
    font-size: 40px;
  }

  .infoCardContainer--info-card-home .infoCardTextContainer {
    width: 30%;
  }

  .infoCardContainer--info-card-home .infoCardImageContainer {
    width: 70%;
  }

  .imageElement--storePrint {
    margin-bottom: 0px;
    max-height: 600px;
  }
}

.productImagesContainer--quickview .carouselContainer {
  justify-content: flex-start;
}

.productImagesContainer--quickview .productImageTag {
  object-fit: cover !important;
}

.productImagesContainer--quickview .carouselGaleryThumbs {
  display: none;
}

.productImagesContainer--quickview .carouselGaleryCursor {
  margin: 0;
  padding: 0;
  width: 100%;
}

.productNameContainer {
  color: #3f3f40;
  font-weight: bold;
  font-size: 30px;
}
.productNameContainer--product-product-name{
  color:#000000;
  font-size: 35px;
  font-weight: 300;
  line-height: 0.71;
  letter-spacing: 0.88px;
}

@media screen and (max-width: 50em) {
  .productNameContainer--product-product-name{
    font-size: 30px;
    line-height: 0.83;
    letter-spacing: 0.75px;
  }
}

.carouselGaleryThumbs {
  margin: 30px -15px;
}

.productImagesGallerySwiperContainer {
  background:#ffffff;
}

.productImagesThumb {
  margin: 0px 15px;
  padding: 15px 0px;
  background: #ffffff;
  width: calc(20% - 30px) !important;
  height:auto !important;
  max-height: none !important;
}

.productImagesThumbActive .carouselThumbBorder {
  border:2px solid #c8102e !important;
}

.productImagesThumbCaret {
  padding:0px 10px;
}

.shippingContainer {
  margin-bottom: 20px!important;
}

.shippingContainer :global(.vtex-address-form__postalCode){
  width:50%;
  float:left;
  color: #000!important;
  text-transform: uppercase;
}

.shippingContainer :global(.vtex-input__label){
  display:none;
}

.shippingContainer :global(.vtex-input-prefix__group){
  border-width: 0px;
  border-radius:0px;
  height:auto;
}

.shippingContainer :global(.vtex-address-form-4-x-input){
  border: solid 1px #d9d9d9;
  background-color: #ffffff;
  border-radius:0px;
  height: 35px;
}

.shippingContainer :global(.vtex-button){
  float:left;
  width:50%;
  height: 35px;
  border-radius: 1px;
  background-color: #4b4b4b;
  font-size: 12px;
  letter-spacing: 1.2px;
  color: #ffffff;
  outline: 0px;
  border:0px;
}

.notificationBarInner{
  min-height:0px
}


.imageElement--stacked-category-image{
  width:100%;
} 


/* FITTING */
.imageElement--banner-fitting-image-mobile{
  display:none;
}
.imageElement--image-equipo-mobile{
  display:none;
}
.imageElement--image-fitting {
  width: 100%;
}

@media screen and (max-width: 50em) {
  .imageElement--banner-fitting-image{
    display:none;
  }
  .imageElement--banner-fitting-image-mobile{
    display:block;
  }

  .imageElement--image-equipo{
    display:none;
  }
  .imageElement--image-equipo-mobile{
    display:block;
  }
}

.imageElement--image-fitting-tecnologia{
  display:block;
  max-width:500px;
  margin:auto;
}

.imageElement--image-more-info{
  display:block;
  max-width:80px;
  margin:auto;
}

.imageElement--image-fitting-bottom{
  display:block;
  max-width:150px;
  margin:auto;
}

 
/* VENTA ONLINE */
.infoCardCallActionContainer--info-card-nosotros-te-llamamos :global(.vtex-button){
  padding:15px 30px;
  display:inline-block;
  color:#fff;
  border-radius:5px;
  background:#134CD8;
  text-decoration: none;
  border:0px;
}
.wrapper--info-card-nosotros-te-llamamos{
  max-width:650px; 
  margin:auto;
  text-align:center;
  font-size:18px;
}
.headingLevel3--info-card-nosotros-te-llamamos{
  font-size:56px;
}

@media screen and (max-width: 50em) {
  .infoCardContainer--info-card-nosotros-te-llamamos{
    display:flex;
    flex-direction: column-reverse !important;
  }
  .container--info-card-nosotros-te-llamamos{
    padding:0px;
  }
  .wrapper--info-card-nosotros-te-llamamos{
    max-width:100%; 
    font-size:16px;
  }
  .headingLevel3--info-card-nosotros-te-llamamos{
    font-size:26px;
  }
}

@media screen and (min-width: 50em) {

  .imageElement--image-tienda {
    height: 400px;
    min-height: 400px;
    max-height: 400px;
  }

  .imageElement--header-main-menu-imageLogin {
    padding-top: 5px;
  }

}

.imageElement--image-club {
  width: 100%;
  height: auto;
}
.imageElement--tarjetabaneficiosimage {
  max-width: 100%;
  margin: 0 auto;
  display: block;
} 
.imageElement--bannerExplicativo {
  width: 100%;
  height: auto;
}

.imageElement--imgpasos {
  max-width: 100px;
  margin: 0 auto;  
  display: block;
  margin-bottom: 30px;
}
.logoLink--logo-micrositios .logoContainer--logo-micrositios {
  max-width: 100px;
  max-height: none;
  min-width: 100px;
  width: 150px;
  float: left;
  padding: 0;
}

.productDescriptionContainer .productDescriptionText {
  line-height: 25px;
  font-size: 16px;
}
.logoLink .sizeDesktop {
    max-width: 230px;
    max-height: 75px;
    min-width: 120px;
    float: left;
    padding: 0;
}