.openIconContainer{
    padding:0px;
}
.openIconContainer :global(.vtex-button) {
    min-height:0px;
}
.openIconContainer :global(.vtex-button):hover{
    background-color: transparent;
}
.minicartIconContainer{
    background-image: url('assets/header/cesta-3.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    width: 16px;
    height: 20px;
}
.minicartIconContainer :global(.vtex-store-icons-0-x-cartIcon){
    display:none;
}

.minicartCheckoutButton :global(.vtex-button){
    background:#000000;
    min-width:225px;
    width:60%;
    margin:auto;
    display:block;
    border-color: #000000;
    border-radius: 0px;
}

