
.container {
    padding:5px 0px;
}

@media screen and (max-width: 50em) {
    .container {
        margin-bottom:20px;
        padding:0px 0px 20px 0px;
        background:#ffffff;
    }
}
.homeLink{
    letter-spacing: 1px;
    color:#4c4c4c;
    font-size:14px; 
}
.homeLink::before{
    content: "Home";
}
.homeIcon{
    display:none;
}
.arrow, .term{
    font-weight:bold;
    letter-spacing: 1px;
    color:#4c4c4c;
    font-size:14px;
    padding:0px;
    vertical-align:middle;
    line-height: 18px;
    display: inline-block;
}
.arrow::before{
    padding:0px 5px;
    content: "/";
    font-size:18px;
    vertical-align: middle;
    color:#4c4c4c;
}
.link{
    color:#4c4c4c;
}
.caretIcon{
    display:none;
}
.arrow::last-of-type .link{
    color:#000;
}