.listPrice {
  color: #727273;
  margin-bottom: .25rem;
  font-size: 1rem;
}

.sellingPrice {
  color: #000000;
  font-size: 1.25rem;
}

.sellingPriceValue{
  font-size: 16px;  
  line-height: 1.25;
}
.listPriceValue {
  font-size: 16px;  
  line-height: 1.25;
}
.installments {
  color: #727273;
  margin-bottom: 1rem;
}

.savings {
  font-weight: 500;
  color: #79B03A;
}

.sellingPriceValue--summary {
  font-size: 1.25rem;
  font-weight: 600;
  color: #2E2E2E;
}

.savings--summary {
  background: #8BC34A;
  border-radius: 1000px;
  align-items: center;
  display: flex;
}

.savings-discount--summary {
  font-size: 0.875rem;
  font-weight: 600;
  vertical-align: baseline;
  color: #FFFFFF;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.listPrice--summary {
  margin-bottom: 0.25rem;
  font-size: .875rem;
}

.installments--summary {
  margin-bottom: 2rem;
  font-size: 0.875rem;
}




.listPrice--summary_price {
  display: block;
  float: left;
  font-size: 10px;  
  line-height: 1.25;
  text-transform: uppercase;
  padding:15px;
  word-spacing: 100vw;
  border-right: 1px solid #999;
}

.listPriceValue--summary_price {
  display: block;
  margin-top:5px;
  font-size: 14px;  
  line-height: 1.25;
  word-spacing: initial;
}
@media screen and (max-width: 50em) {
  .listPriceValue--summary_price {
    font-size: 12px;  
    font-weight:normal;
  }
}

.sellingPrice--summary_price {
  display: block;
  padding:15px;
  font-size: 10px;  
  text-transform: uppercase;
  line-height: 1.25;
  word-spacing: 100vw;
}


.sellingPriceValue--summary_price {
  display: block;
  margin-top:5px;
  font-size: 16px;  
  line-height: 1.25;
  font-weight: bold;
  word-spacing: initial;
}
@media screen and (max-width: 50em) {
  .sellingPriceValue--summary_price {
    font-size: 15px;  
  }
}
.sellingPrice--summary_price--hasListPrice .sellingPriceValue--summary_price {
  color:#C8102E;
}


.listPrice--product_price {
  display: block;
  float: left;
  font-size: 12px;  
  line-height: 1.25;
  text-transform: uppercase;
  padding:15px;
  margin:10px 0px;
  word-spacing: 100vw;
  border-right: 1px solid #999;
}

.listPriceValue--product_price {
  display: block;
  margin-top:5px;
  font-size: 18px;  
  line-height: 1.25;
  word-spacing: initial;
}
 
.sellingPrice--product_price {
  display: block;
  padding:15px;
  margin:10px 0px;
  font-size: 12px;  
  text-transform: uppercase;
  line-height: 1.25;
  word-spacing: 100vw;
}


.sellingPriceValue--product_price {
  display: block;
  margin-top:5px;
  font-size: 20px;  
  line-height: 1.25;
  font-weight: bold;
  word-spacing: initial;
}

.sellingPrice--product_price--hasListPrice .sellingPriceValue--product_price {
  color:#C8102E;
}